<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-grid>
      <ion-row>
        @for (pokemon of pokemons; track pokemon.name; let pokedexIndex = $index) {
        <ion-col size="6" size-md="3" size-lg="2">
          <ion-card [routerLink]="['/pokemon-detail']" [state]="{pokedexIndex: pokedexIndex + 1}">
            <ion-card-header>
              <ion-row>
                <ion-col>
                  <ion-card-subtitle>#{{ pokedexIndex + 1 }} </ion-card-subtitle>
                </ion-col>
              </ion-row>
            </ion-card-header>

            <ion-card-content>
              <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokedexIndex+1}}.png" alt="Pokemon {{pokemon.name}} sprite" />
              <ion-card-title> {{ pokemon.name | titlecase }}</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        }
        @empty {
          <li>No items found</li>
        }
        <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-row>
    </ion-grid>

    
  </div>
</ion-content>
