<ion-split-pane when="lg" contentId="mainContent">

  <ion-menu side="end" menuId="filterMenu" contentId="mainContent">
    <ion-header>
      <ion-toolbar>
        <ion-title>Filter Pokemon by Type</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-pokemon-type-filter (filterSelected)="onFilterSelected($event)"></app-pokemon-type-filter>
    </ion-content>
  </ion-menu>

  <!-- Main Content -->
  <div class="ion-page" id="mainContent">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title>Home</ion-title>
        @if (selectedType != null) {
        <ion-img
          (click)="loadData()"
          [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-viii/brilliant-diamond-and-shining-pearl/' + selectedType + '.png'"
          alt="Pokemon Type {{ selectedType }}" slot="end"></ion-img>
        }
        <ion-buttons slot="start">
          <ion-menu-button autoHide="true" menu="filterMenu"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content [fullscreen]="true">
      @if (isLoading) {
      <div class="spinner-container">
        <ion-spinner name="dots"></ion-spinner>
      </div>
      }
      @else {
      <div>
        <ion-grid>
          <ion-row>
            @for (pokemon of pokemons; track pokemon.pokedexIndex) {
            <ion-col size="6" size-md="3" size-lg="2">
              <ion-card [routerLink]="['/pokemon-detail']" [state]="{pokedexIndex: pokemon.pokedexIndex}">
                <ion-card-header>
                  <ion-row>
                    <ion-col>
                      <ion-card-subtitle>#{{ pokemon.pokedexIndex }} </ion-card-subtitle>
                    </ion-col>
                  </ion-row>
                </ion-card-header>

                <ion-card-content>
                  <img
                    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.pokedexIndex}}.png"
                    alt="Pokemon {{pokemon.name}} sprite" />
                  <b> {{ pokemon.name | titlecase }}</b>
                </ion-card-content>
              </ion-card>
            </ion-col>
            }
            @empty {
            <li>No items found</li>
            }
            <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-row>
        </ion-grid>
      </div>

      }
    </ion-content>
  </div>
</ion-split-pane>